$primary: #e31e24;
$primary-champ: #990011;
$black: #2b2a29;
$white: #f9f9f9;
$gray: #938b8b;
$yellow: #f3cc3c;
$card: #e6e6e6;
$card-dark: #dcdcdc;
$background: #f2f3f4;
$slide-card: #f7f7f7;
$orange: #ff6600;
