.about-us__top {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.about-us__heading {
  margin: 0;
  padding: 0;
  @include Heading2;
}

.about-us__description {
  margin-bottom: 15px;
  padding: 0;
  @include MiddleText;
}

.choose-us {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  color: $primary-champ;
  @include Heading2;
}

.choose-us__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.choose-us__heading {
  margin: 0;
  padding: 0;
  @include Heading3;
}

.choose-us__text {
  margin: 0;
  padding: 0;
  @include MiddleText;
}
