.important-facts {
  padding: 100px 0;
  margin: 0;
  margin-bottom: 20px;

  color: $white;

  background-color: $black;
}

.important-facts__top {
  margin-bottom: 50px;

  text-align: center;
}

.important-facts__heading {
  margin: 0;
  margin-bottom: 10px;

  @include Heading2;
}

.important-facts__description {
  margin: 0;
  margin-bottom: 10px;

  @include MiddleText;
}

.important-facts__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 150px;
  list-style-type: none;

  text-align: center;
}

.important-fact {
  margin: 0;
  padding: 0;
}

.important-fact__title {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;

  @include FactHeading;

  border-bottom: 2px $white solid;
}

.important-fact__numbers {
  font-family: "Montserrat";
  font-size: 54px;
  font-weight: 500;
  line-height: 64px;
  text-align: center;
  color: $white;
}
