.important__facts {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $black;

  &-box {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &-heading {
    color: $white;
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  &-text {
    color: $white;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    text-decoration: none;
  }

  &-item {
    margin: 0;
    padding: 0;
  }

  &-title {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: $white;
    font-size: 32px;
    font-family: Raleway;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 38px;
    border-bottom: 1px #eaf2f5 solid;
  }

  &-numbers {
    color: $white;
    text-align: center;
    font-size: 54px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 64px;
  }
}
