.join-us {
  margin: 0;
  padding: 100px 0;

  color: $white;

  background-image: url("../../assets/images/badminton-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.join-us__heading {
  margin: 0;
  margin-bottom: 10px;

  @include Heading2;
  text-align: center;
}

.join-us__description {
  margin: 0;
  margin-bottom: 30px;

  @include MiddleText;
  text-align: center;
}

.join-us__button {
  display: block;
  margin: 0 auto;
}
