.membership {
  margin-bottom: 50px;
}

.membership__top {
  position: relative;
  margin-bottom: 50px;
  overflow-x: hidden;
  color: $white;
  background-image: url(/assets/images/Main-People.jpg);
  background-position: bottom -5px center;
  background-size: cover;
  background-repeat: no-repeat;
}

.membership__container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 166px);
}

.membership__content {
  position: relative;
  z-index: 1;
  max-width: 550px;
  margin: 0 auto;
}

.membership__heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 54px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.membership__title {
  margin: 0;
  padding: 0;
  @include Heading1;
  text-align: center;
}

.membership__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.membership__item {
  cursor: none;
}

.membership__item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.membership__item .info1::after {
  content: "1";
  font-size: 58px;
  font-weight: 700;
  line-height: 49px;
  color: $primary-champ;
}

.membership__item .info2::after {
  content: "2";
  font-size: 58px;
  font-weight: 700;
  line-height: 49px;
  color: $primary-champ;
}

.membership__item .info3::after {
  content: "3";
  font-size: 58px;
  font-weight: 700;
  line-height: 49px;
  color: $primary-champ;
}

.membership__item .info4::after {
  content: "4";
  font-size: 58px;
  font-weight: 700;
  line-height: 49px;
  color: $primary-champ;
}

.membership__item a {
  text-decoration: none;
  color: $black;
}

.membership__item h3 {
  margin: 0;
  padding: 0;
  @include Heading3;
}

.membership__item p {
  margin: 0;
  padding: 0;
  @include BigText;
}
