.our__badminton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 20px;
  background-color: $black;

  &-club {
    width: 1097px;
    height: 120px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    background-image: url(../../assets/images/WhyOurBadmintonClub.svg);
    background-repeat: no-repeat;
  }

  &-heading {
    margin: 0;
    padding-top: 40px;
    padding-left: 20px;
    color: $white;
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
    line-height: 38px;
  }

  &-paragraph {
    width: 900px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    color: $white;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 400;
    line-height: 28px;
  }

  &-link {
    display: block;
    width: 153px;
    padding: 15px;
    margin-left: 20px;
    color: $white;
    background-color: $primary;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
}
