.our-club {
  position: relative;

  color: $white;

  background-color: $black;
}

.our-club__top {
  position: absolute;
  top: -20px;
  left: calc((100vw - 1450px) / 2);
  z-index: 1;

  width: 806px;

  background-color: $primary;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    width: calc((100vw - 1440px) / 2);
    height: 100%;

    background-color: $primary;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: -50px;
    transform: translateX(100);

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 120px 0 0 50px;
    border-color: transparent transparent transparent $primary;
    box-shadow: -10px 0 0 0 $primary;
  }
}

.our-club__heading {
  margin: 0;
  padding: 41px 20px;
  @include Heading2;
}

.our-club__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.our-club__content {
  margin: 0;
  margin-left: 10px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.our-club__description {
  max-width: 900px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  @include BigText;
}

.our-club__image {
  position: absolute;
  bottom: -2px;
  right: 120px;

  object-fit: contain;
}
