.popular-courses {
  position: relative;

  padding: 100px 0;

  text-align: center;
}

.popular-courses__top {
  margin-bottom: 50px;

  text-align: center;
}

.popular-courses__heading {
  margin: 0;
  margin-bottom: 10px;

  @include Heading2;
}

.popular-courses__description {
  margin: 0;
  margin-bottom: 10px;

  @include MiddleText;
}

.popular-courses__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  row-gap: 100px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 17px;
  list-style-type: none;

  text-align: left;
}

.popular-course {
  position: relative;

  padding: 30px;

  border-bottom: 2px solid var(--Primary, #e31e24);
  background-color: $card;
  box-shadow: 0px 0px 20px 0px rgba(43, 42, 41, 0.25);

  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: $white;
    box-shadow: 0px 0px 25px 0px rgba(43, 42, 41, 0.5);
  }
}

.popular-course__image {
  margin-top: -80px;
}

.popular-course__inner {
  padding: 30px 0;
}

.popular-course__heading {
  margin: 0;
  margin-bottom: 5px;

  @include Heading3;
}

.popular-course__details {
  margin-bottom: 20px;
}

.popular-course__author {
  margin-right: 50px;

  @include MiddleText;
}

.popular-course__date {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-family: "Montserrat" !important;
  @include MiddleText;

  &::before {
    content: url("../../assets/icons/date-icon.svg");

    height: 16px;
    margin-bottom: 5px;
  }
}

.popular-course__description {
  margin: 0;
  margin-bottom: 20px;

  @include MiddleText;
}

.popular-course__bottom {
  display: flex;
}

.popular-course__shows,
.popular-course__comments {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;

  @include Link;
  font-family: "Montserrat" !important;
  line-height: 16px !important;

  &::before {
    content: url("../../assets/icons/eye-icon.svg");
    height: 16px;
  }
}

.popular-course__comments {
  margin-right: auto;

  &::before {
    content: url("../../assets/icons/comment-icon.svg");
    height: 16px;
  }
}

.popular-course__button {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $black !important;
  }
}

.popular-courses__button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;

  &::after {
    content: url("../../assets/icons/right-marker.svg");
  }
}
