.popular__courses {
  position: relative;
  &-box {
    display: block;
    text-align: center;
    margin-top: 50px;
    padding: 0;
  }

  &-heading {
    margin: 0;
    padding: 0;
    color: $black;
    font-size: 32px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
  }

  &-text {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: $black;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    line-height: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  &__item {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    background-color: $card;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  &-heading {
    margin: 0;
    margin-top: 30px;
    margin-right: auto;
    padding: 0;
    padding-left: 30px;
    color: $black;
    font-size: 24px;
    font-family: Raleway;
    font-weight: 600;
    line-height: 32px;
  }

  &-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-right: auto;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  &-author {
    margin: 0;
    padding: 0;
  }

  &-iconText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  &-infoContent {
    width: 400px;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  &-iconsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: auto;
  }

  &-span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &-num {
    color: $black;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 16px;
    margin: 0;
    padding: 0;
  }

  &-btn {
    position: absolute;
    bottom: -17px;
    padding: 10px 30px;
    background-color: $primary;
    color: $white;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 600;
    line-height: 18px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  &-BrowseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 15px 30px;
    color: $white;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 18px;
    border: none;
    background-color: $primary;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  &-BtnText {
    margin: 0;
    padding: 0;
  }
}
