.teachers {
  padding: 100px 0;
}

.teachers__top {
  margin-bottom: 50px;
}

.teachers__title {
  margin: 0;
  margin-bottom: 10px;

  @include Heading2;
  text-align: center;
}

.teachers__description {
  margin: 0;
  margin-bottom: 10px;

  @include MiddleText;
  text-align: center;
}

.teachers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.teacher__card {
  background-color: $card;
  box-shadow: 0px 0px 20px 0px rgba(43, 42, 41, 0.25);
  border-bottom: 2px solid $primary;

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0px 0px 25px 0px rgba(43, 42, 41, 0.5);

    .teacher__image {
      height: 250px;
    }

    .teacher__description {
      height: 60px;
      margin-bottom: 30px;
    }
  }
}

.teacher__image {
  object-fit: cover;

  transition: height 0.2s ease;
}

.teacher__inner {
  padding: 30px 0;
}

.teacher__name {
  margin: 0;

  @include Heading3;
  text-align: center;
}

.teacher__job {
  display: block;
  margin-bottom: 20px;

  @include MiddleText;
  text-align: center;
}

.teacher__description {
  height: 0;
  margin: 0;
  padding: 0 30px;
  overflow: hidden;

  font-size: 12px;
  line-height: 20px;
  text-align: center;

  transition: height 0.2s ease, margin 0.2s ease;
}

.teacher__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    color: $black;

    &:hover {
      color: $primary;
    }
  }
}
