.button {
  display: inline-block;
  padding: 15px 30px;

  @include Link;

  color: $white;

  border: none;
  background-color: $black;

  cursor: pointer;

  &--red {
    background-color: $primary !important;
  }

  &--burgundy {
    background-color: $primary-champ !important;
  }
  &--small {
    padding: 10px 30px !important;
  }
}
